        #results {
            width: 100%;
            padding: 5%;
        }

        @media only screen and (max-width: 390px) {
            table.results {
                font-size: 3vw;
            }
        }
        
        caption{
           color: #1a1a1c;
           font-size: 14px;
           font-weight:550
    
           }
 
        table.results {
            background-color: #dfdfdf;
            
        }

        table.results > tbody > tr {
            background-color: #fff;
        }

        table.results > tbody > tr:hover {
            background-color: rgba(235, 240, 242, 0.24);
        }

        table.results > thead > tr > th {
            padding : 5px 5px 5px 5px;
            text-align: center;
        }

        table.results > thead > tr > th.rank {
            text-align: left;
            width: 10%;
        }        

        table.results > thead > tr > th.country {
            width: 10%;
        }        

        table.results > thead > tr > th.athlete {
            text-align: left;
            width: 30%;
        }        

        table.results > thead > tr > th.time {
            text-align: left;
            width: 15%;
        }        

        table.results > thead > tr > th.points {
            text-align: center;
            width: 10%;
        }        


        table.results > tbody > tr > td {
            padding : 5px 5px 5px 5px;
            text-align: center;
        }

        table.results {
            width: 65%;
        }

        table.results > tbody > tr > td.rank {
             border-bottom: 1px solid #ccc;
            text-align: left;
            width: 10%;
        }        

        table.results > tbody > tr > td.country {
             border-bottom: 1px solid #ccc;
            width: 10%;
        }        

        table.results > tbody > tr > td.athlete {
             border-bottom: 1px solid #ccc;
            text-align: left;
            width: 20%;
        }        

        table.results > tbody > tr > td.time {
             border-bottom: 1px solid #ccc;
            text-align: left;
            width: 20%;
        }        

        table.results > tbody > tr > td.points {
             border-bottom: 1px solid #ccc;
            width: 10%;
        }        

        .truncate {
            display: block;
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
